.gradle/2.2.1/taskArtifacts/cache.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.gradle/2.8/taskArtifacts/cache.properties
.gradle/2.8/taskArtifacts/cache.properties.lock
.gradle/2.8/taskArtifacts/fileHashes.bin
.gradle/2.8/taskArtifacts/fileSnapshots.bin
.gradle/2.8/taskArtifacts/outputFileStates.bin
.gradle/2.8/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/libraries/appcompat_v7_22_0_0.xml
.idea/libraries/gson_2_4.xml
.idea/libraries/holographlibrary_1_0.xml
.idea/libraries/myosdk_0_10_0.xml
.idea/libraries/support_annotations_22_0_0.xml
.idea/libraries/support_v4_22_0_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
BLE_myo.iml
app/app-release.apk
app/app.iml
build/intermediates/dex-cache/cache.xml
build/intermediates/gradle_project_sync_data.bin
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
settings.gradle
app/build/intermediates/blame/res/debug/multi/values-af.json
app/build/intermediates/blame/res/debug/multi/values-am.json
app/build/intermediates/blame/res/debug/multi/values-ar.json
app/build/intermediates/blame/res/debug/multi/values-bg.json
app/build/intermediates/blame/res/debug/multi/values-bn-rBD.json
app/build/intermediates/blame/res/debug/multi/values-ca.json
app/build/intermediates/blame/res/debug/multi/values-cs.json
app/build/intermediates/blame/res/debug/multi/values-da.json
app/build/intermediates/blame/res/debug/multi/values-de.json
app/build/intermediates/blame/res/debug/multi/values-el.json
app/build/intermediates/blame/res/debug/multi/values-en-rGB.json
app/build/intermediates/blame/res/debug/multi/values-en-rIN.json
app/build/intermediates/blame/res/debug/multi/values-es-rUS.json
app/build/intermediates/blame/res/debug/multi/values-es.json
app/build/intermediates/blame/res/debug/multi/values-et-rEE.json
app/build/intermediates/blame/res/debug/multi/values-eu-rES.json
app/build/intermediates/blame/res/debug/multi/values-fa.json
app/build/intermediates/blame/res/debug/multi/values-fi.json
app/build/intermediates/blame/res/debug/multi/values-fr-rCA.json
app/build/intermediates/blame/res/debug/multi/values-fr.json
app/build/intermediates/blame/res/debug/multi/values-gl-rES.json
app/build/intermediates/blame/res/debug/multi/values-hdpi-v4.json
app/build/intermediates/blame/res/debug/multi/values-hi.json
app/build/intermediates/blame/res/debug/multi/values-hr.json
app/build/intermediates/blame/res/debug/multi/values-hu.json
app/build/intermediates/blame/res/debug/multi/values-hy-rAM.json
app/build/intermediates/blame/res/debug/multi/values-in.json
app/build/intermediates/blame/res/debug/multi/values-is-rIS.json
app/build/intermediates/blame/res/debug/multi/values-it.json
app/build/intermediates/blame/res/debug/multi/values-iw.json
app/build/intermediates/blame/res/debug/multi/values-ja.json
app/build/intermediates/blame/res/debug/multi/values-ka-rGE.json
app/build/intermediates/blame/res/debug/multi/values-kk-rKZ.json
app/build/intermediates/blame/res/debug/multi/values-km-rKH.json
app/build/intermediates/blame/res/debug/multi/values-kn-rIN.json
app/build/intermediates/blame/res/debug/multi/values-ko.json
app/build/intermediates/blame/res/debug/multi/values-ky-rKG.json
app/build/intermediates/blame/res/debug/multi/values-land.json
app/build/intermediates/blame/res/debug/multi/values-large-v4.json
app/build/intermediates/blame/res/debug/multi/values-lo-rLA.json
app/build/intermediates/blame/res/debug/multi/values-lt.json
app/build/intermediates/blame/res/debug/multi/values-lv.json
app/build/intermediates/blame/res/debug/multi/values-mk-rMK.json
app/build/intermediates/blame/res/debug/multi/values-ml-rIN.json
app/build/intermediates/blame/res/debug/multi/values-mn-rMN.json
app/build/intermediates/blame/res/debug/multi/values-mr-rIN.json
app/build/intermediates/blame/res/debug/multi/values-ms-rMY.json
app/build/intermediates/blame/res/debug/multi/values-my-rMM.json
app/build/intermediates/blame/res/debug/multi/values-nb.json
app/build/intermediates/blame/res/debug/multi/values-ne-rNP.json
app/build/intermediates/blame/res/debug/multi/values-nl.json
app/build/intermediates/blame/res/debug/multi/values-pl.json
app/build/intermediates/blame/res/debug/multi/values-port.json
app/build/intermediates/blame/res/debug/multi/values-pt-rPT.json
app/build/intermediates/blame/res/debug/multi/values-pt.json
app/build/intermediates/blame/res/debug/multi/values-ro.json
app/build/intermediates/blame/res/debug/multi/values-ru.json
app/build/intermediates/blame/res/debug/multi/values-si-rLK.json
app/build/intermediates/blame/res/debug/multi/values-sk.json
app/build/intermediates/blame/res/debug/multi/values-sl.json
app/build/intermediates/blame/res/debug/multi/values-sr.json
app/build/intermediates/blame/res/debug/multi/values-sv.json
app/build/intermediates/blame/res/debug/multi/values-sw.json
app/build/intermediates/blame/res/debug/multi/values-sw600dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-ta-rIN.json
app/build/intermediates/blame/res/debug/multi/values-te-rIN.json
app/build/intermediates/blame/res/debug/multi/values-th.json
app/build/intermediates/blame/res/debug/multi/values-tl.json
app/build/intermediates/blame/res/debug/multi/values-tr.json
app/build/intermediates/blame/res/debug/multi/values-uk.json
app/build/intermediates/blame/res/debug/multi/values-ur-rPK.json
app/build/intermediates/blame/res/debug/multi/values-uz-rUZ.json
app/build/intermediates/blame/res/debug/multi/values-v11.json
app/build/intermediates/blame/res/debug/multi/values-v14.json
app/build/intermediates/blame/res/debug/multi/values-v17.json
app/build/intermediates/blame/res/debug/multi/values-v21.json
app/build/intermediates/blame/res/debug/multi/values-vi.json
app/build/intermediates/blame/res/debug/multi/values-w360dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-w480dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-w500dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-w600dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-w720dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-w820dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-xlarge-land-v4.json
app/build/intermediates/blame/res/debug/multi/values-xlarge-v4.json
app/build/intermediates/blame/res/debug/multi/values-zh-rCN.json
app/build/intermediates/blame/res/debug/multi/values-zh-rHK.json
app/build/intermediates/blame/res/debug/multi/values-zh-rTW.json
app/build/intermediates/blame/res/debug/multi/values-zu.json
app/build/intermediates/blame/res/debug/multi/values.json
app/build/intermediates/blame/res/debug/single/anim.json
app/build/intermediates/blame/res/debug/single/color.json
app/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-hdpi-v17.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-mdpi-v17.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xhdpi-v17.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xxhdpi-v17.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xxxhdpi-v17.json
app/build/intermediates/blame/res/debug/single/drawable-mdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-tvdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-xhdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-xxhdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-xxxhdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable.json
app/build/intermediates/blame/res/debug/single/layout-v11.json
app/build/intermediates/blame/res/debug/single/layout.json
app/build/intermediates/blame/res/debug/single/menu.json
app/build/intermediates/blame/res/debug/single/mipmap-hdpi-v4.json
app/build/intermediates/blame/res/debug/single/mipmap-mdpi-v4.json
app/build/intermediates/blame/res/debug/single/mipmap-xhdpi-v4.json
app/build/intermediates/blame/res/debug/single/mipmap-xxhdpi-v4.json
app/build/intermediates/incremental/mergeDebugAndroidTestAssets/merger.xml
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
app/build/intermediates/incremental/mergeDebugAssets/merger.xml
app/build/intermediates/incremental/mergeDebugResources/merger.xml
app/build/intermediates/manifests/full/arm64-v8a/debug/AndroidManifest.xml
app/build/intermediates/manifests/full/armeabi-v7a/debug/AndroidManifest.xml
app/build/intermediates/manifests/full/armeabi/debug/AndroidManifest.xml
app/build/intermediates/manifests/full/debug/AndroidManifest.xml
app/build/intermediates/manifests/full/mips/debug/AndroidManifest.xml
app/build/intermediates/manifests/full/mips64/debug/AndroidManifest.xml
app/build/intermediates/manifests/full/x86/debug/AndroidManifest.xml
app/build/intermediates/manifests/full/x86_64/debug/AndroidManifest.xml
app/build/intermediates/res/resources-arm64-v8a-debug.ap_
app/build/intermediates/res/resources-armeabi-debug.ap_
app/build/intermediates/res/resources-armeabi-v7a-debug.ap_
app/build/intermediates/res/resources-debug-androidTest.ap_
app/build/intermediates/res/resources-mips-debug.ap_
app/build/intermediates/res/resources-mips64-debug.ap_
app/build/intermediates/res/resources-universal-debug.ap_
app/build/intermediates/res/resources-x86-debug.ap_
app/build/intermediates/res/resources-x86_64-debug.ap_
app/build/outputs/logs/manifest-merger-debug-report.txt
